html, body {
    height: 100%; /* Stellen sicher, dass der gesamte Viewport abgedeckt wird */
    background-color: #35343d;
    background-image: url(../../../Design/Background.jpg);
    background-size: cover;
    background-position: center;
}

body {
    display: grid;
    justify-content: center; /* Zentriert horizontal */
    align-content: center;
    place-items: center;  /*Zentriert vertikal */
    height: 100vh; /* Nimmt die gesamte Höhe des Viewports ein */
}

.welcomeMessage{
    font-family: monospace;
    margin-bottom: 30px;
    color: white;
}

.loginForm{
    border-radius: 25px;
    border: 5px solid #02BFBF;
    padding: 20px;
    min-width: 100px; /* Startgröße */
    max-width: 30%; /* Wächst bis zur vollen Breite des Containers */
    min-height: 10px; /* Mindesthöhe */
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userTextBox{
    margin-bottom: 20px;
    margin-top: 15px;

}

.loginForm form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Zentriert den Button und das Textfeld horizontal */
}

.registrationMessage{
    /*padding: 20px;    */
    text-align: center;
    margin-bottom: 15px;
}

.loginButton{
    background-color: white;
    border-radius: 25px;
    border: 2px solid #02BFBF;
    padding: 15px;
    font-weight: bold;
}



/*Fonts*/
*{
    font-family: Arial, Helvetica, sans-serif;
}